@import 'variables'

.main-section
  width: 1000px
  max-width: 1000px
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  column-gap: 1.6rem
  background-color: $tertiary-color
  margin: 0 auto
  padding: 1rem 1.3rem
  &__logo
    display: flex
    justify-content: flex-start
    align-items: center
    height: 6rem
    flex-basis: 100%
    margin-bottom: 1.5rem
    &__link
      height: 100%
      span
        height: 100% !important
        span
          height: 100% !important
          img
            height: 100% !important
  &__left-column
    flex-basis: 16.5%
    display: flex
    flex-direction: column
    align-items: center
    row-gap: 1rem
    &__ad
      display: flex
      flex-direction: column
      align-items: center
      background-color: rgba(35,42,48,1)
      box-shadow: 0 1px 1px 0 rgb(0,0,0,50%)
      cursor: pointer
      &__logo
        padding: .7rem
        background-color: #333a3f
      &__weapon
        background: rgb(0,188,140)
        background: radial-gradient(circle, rgba(0,188,140,1) -125%, rgba(35,42,48,1) 75%)
        span
          img
            max-width:70% !important
      &__text-container
        display: flex
        flex-direction: column
        width: 90%
        &__price
          display: flex
          justify-content: space-evenly
          align-items: center
          > div:first-of-type
            display: flex
            justify-content: center
            align-items: center
            color: #fff
            font-size: 1.6rem
            span
              color: $bitskins-green
          > div:nth-of-type(2)
            font-size: 1.2rem
            text-transform: uppercase
            color: #fff
            background-color: $bitskins-blue
            padding: .3rem .5rem
            border-radius: 2rem
        &__description
          display: flex
          flex-direction: column
          align-items: center
          margin-top: .5rem
          div
            display: flex
            justify-content: center
            align-items: center
            color: $font-color
            padding: .2rem 0
            svg
              color: $bitskins-green
              margin-right: .5rem
      &__buy-button
        background-color: $bitskins-green
        width: 100%
        font-weight: 700
        color: #fff
        padding: .5rem 0
        margin-top: .5rem
        border: none
        cursor: pointer
        &:hover
          background-color: $bitskins-green-hover
    &__potw
      position: relative
      background-color: #23292f
      overflow: hidden
      cursor: pointer
      transition: .25s all ease
      box-shadow: 0 1px 1px 0 rgb(0,0,0,50%)

      &:hover
        background-color: $primary-color
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgb(73,88,103)
        background: linear-gradient(0deg, rgba(45,56,68,1) 10%, rgba(35,41,47,0) 50%)
        z-index: 1
      &__player-img
        position: absolute
        width: 115%
        bottom: 0
        left: 0
        transform: translate(-35%,25%)
      &__team-img
        width: 90%
        position: relative
        bottom: 0
        left: 0
        opacity: .1
      &__player
        position: absolute
        top: 8%
        right: 5%
        text-align: right
        color: #fff
        span
          font-size: 1.9rem
          font-weight: bold
        p
          font-size: 1.1rem
          color: #9ec8f1
      &__category-info
        position: absolute
        bottom: 8%
        right: 5%
        text-align: right
        color: #fff
        z-index: 1
        span
          font-size: 2rem
          font-weight: bold
        p
          font-size: 1.1rem
          color: #9ec8f1
    &__ranking
      display: flex
      flex-direction: column
      align-items: flex-start
      width: 100%
      box-shadow: 0 1px 1px 0 rgb(0,0,0,50%)
      > p
        color: #707070
        font-size: 1rem
        text-transform: uppercase
        font-weight: bold
        margin-bottom: .8rem
      &__list
        list-style: none
        display: flex
        flex-direction: column
        width: 100%
        li
          display: flex
          align-items: center
          column-gap: .7rem
          width: 100%
          color: $font-color-hover
          font-size: 1.3rem
          padding: .7rem .8rem
          background-color: rgba(45,56,68,.35)
          border-bottom: .1rem solid $primary-color
          &:hover
            background-color: $secondary-color
          div
            width: 12%
          > span
            cursor: pointer
          p
            cursor: pointer
      &__update
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-items: center
        row-gap: .4rem
        background-color: #435971
        padding: .6rem 0
        color: $font-color
        font-size: 1.1rem
        cursor: pointer
    &__events
      display: flex
      flex-direction: column
      align-items: flex-start
      width: 100%
      box-shadow: 0 1px 1px 0 rgb(0,0,0,50%)
      > p
        color: #707070
        font-size: 1rem
        text-transform: uppercase
        font-weight: bold
        margin-bottom: .8rem
      &__list
        list-style: none
        display: flex
        flex-direction: column
        width: 100%
        &__li
          display: flex
          align-items: center
          column-gap: .6rem
          width: 100%
          color: $font-color-hover
          font-size: 1.3rem
          padding: .5rem .4rem
          background-color: rgba(45,56,68,.35)
          border-bottom: .1rem solid $primary-color
          overflow: hidden
          cursor: pointer
          &:hover
            background-color: $secondary-color
          &__img-container
            flex-basis: 15%
          &__text-container
            width: 85%
            display: flex
            flex-direction: column
            align-items: flex-start
            font-size: 1.2rem
            color: $font-color
            &__event-name
              font-weight: bold
              white-space: nowrap
              text-overflow: ellipsis
              overflow: hidden
              width: calc(95%)
            &__event-date
    &__galleries
      display: flex
      flex-direction: column
      align-items: flex-start
      width: 100%
      > p
        color: #707070
        font-size: 1rem
        text-transform: uppercase
        font-weight: bold
        margin-bottom: .8rem
      &__container
        display: flex
        flex-direction: column
        background-color: rgba(45,56,68,.35)
        cursor: pointer
        box-shadow: 0 1px 1px 0 rgb(0,0,0,50%)
        &:hover
          background-color: $primary-color
        &__gallery-name
          font-size: 1.1rem
          padding: .4rem 0
          color: $font-color-hover
          text-align: center
  &__news-column
    flex-basis: 49%
    display: flex
    flex-direction: column
    align-items: center
    row-gap: 1rem
    &__hub
      display: flex
      flex-direction: column
      box-shadow: 0 1px 1px 0 rgb(0,0,0,50%)
      &__img-container
        position: relative
        p
          width: 100%
          position: absolute
          bottom: 15%
          left: 50%
          transform: translateX(-50%)
          font-size: 2rem
          font-weight: bold
          text-align: center
          color: #fff
      &__text-container
        ul
          display: flex
          align-items: center
          list-style: none
          li:last-of-type
            border-right: none
          li:hover
            background-color: #0f141a
          li
            flex-basis: 25%
            display: flex
            justify-content: center
            align-items: center
            background-color: #232a30
            border-right: .1rem solid #495763
            a
              display: flex
              justify-content: center
              align-items: center
              width: 100%
              font-size: 1.4rem
              padding: 1rem 0
              color: hsla(0,0%,100%,.85)
              cursor: pointer
    &__main-topic
      width: 100%
      cursor: pointer
    &__news
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      row-gap: 1rem
      cursor: pointer
      &__text
        color: $font-color
        font-size: 1.2rem
        font-weight: bold
      &__news-container
        width: 100%
        display: flex
        flex-direction: column
        background-color: $primary-color
        box-shadow: 0 1px 1px 0 rgb(0,0,0,50%)
        &__news:last-of-type
          border-bottom: none
        &__news
          width: 100%
          display: flex
          align-items: center
          justify-content: space-between
          padding: .6rem 0
          border-bottom: .1rem solid $secondary-color
          &:hover
            background-color: $secondary-color
          &__img-container
            width: 1.8rem
            height: 1.3rem
            margin: 0 1rem
            border: .1rem solid #000
          &__title
            width: 70%
            // background-color: purple
            font-size: 1.4rem
            line-height: 2rem
            font-weight: bold
            color: $font-color-hover
          &__date-container
            width: 16%
            margin: 0 1rem 0 auto
            display: flex
            flex-direction: column
            align-items: flex-start
            color: $font-color
            text-align: right
            span
              width: 100%
              color: #757b7e
      &__more
        width: 100%
        padding: 1rem 0
        background-color: $primary-color
        color: $font-color-hover
        border: none
        font-size: 1.4rem
        cursor: pointer
        box-shadow: 0 1px 1px 0 rgb(0,0,0,50%)

        &:hover
          background-color: $secondary-color
  &__matches-column
    flex-basis: 14.78%
    display: flex
    flex-direction: column
    align-items: center
    row-gap: .6rem
    &__matches-container
      width: 100%
      display: flex
      flex-direction: column
      background-color: $primary-color
      box-shadow: 0 1px 1px 0 rgb(0,0,0,50%)
      &__today
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 1rem
        padding: .6rem
        text-transform: uppercase
        font-weight: bold
        background-color: #435971
        color: #fff
        cursor: pointer
      &__match:last-of-type
        border-bottom: none
      &__match
        display: flex
        flex-direction: column
        row-gap: .7rem
        font-size: 1.1rem
        padding: .6rem
        border-bottom: .1rem solid $secondary-color
        cursor: pointer
        &:hover
          background-color: $secondary-color
        &__first-team, &__second-team
          display: flex
          &__img-container
            width: 1.8rem
            height: 1.3rem
            border: .1rem solid #000
          &__text-container
            width: 88%
            display: flex
            justify-content: space-between
            color: $font-color-hover
            padding-left: .2rem
            &__score-container
              display: flex
              &__rounds
              &__maps
                margin-left: .2rem
    &__betting-ad
      position: relative
      width: 100%
      height: 14.5rem
      background-image: url('../assets/gallery/bettingAd.jpg')
      cursor: pointer
      &::before
        content: 'VS'
        display: block
        position: absolute
        top: 35%
        left: 50%
        transform: translate(-50%,-50%)
        color: #fff
        font-size: 1.8rem
        font-weight: bold
        font-style: italic
        opacity: .15
      &__team, &__team2
        position: absolute
        top: 25%
        left: 0
        width: 50%
        display: flex
        flex-direction: column
        align-items: center
        row-gap: .7rem
        &:hover &__img-container
          opacity: 1
        &:hover button
          background-color: #ffce5b
        &__img-container
          width: 55%
          opacity: .75
        p
          font-size: 1.2rem
          font-weight: bold
          color: #fff
        button
          background-color: #fec135
          color: #0b1459
          font-size: 1.2rem
          padding: .3rem 1.4rem
          border-radius: .6rem
          border: none
          cursor: pointer
          font-weight: bold
      &__team2
        left: auto
        right: 0
    &__results-text
      width: 100%
      align-self: flex-start
      display: flex
      justify-content: space-between
      text-transform: uppercase
      color: #707070
      font-weight: bold
    &__results
      display: flex
      flex-direction: column
      row-gap: .6rem
      width: 100%
      &__result
        display: flex
        flex-direction: column
        width: 100%
        padding: .6rem
        row-gap: .7rem
        background-color: $primary-color
        box-shadow: 0 1px 1px 0 rgb(0,0,0,50%)
        cursor: pointer
        &:hover
          background-color: $secondary-color
        p
          font-size: 1.1rem
          color: $font-color-hover
        &__team
          display: flex
          align-items: center
          &__img-container
            height: 1.3rem
            width: 1.8rem
            border: .1rem solid #000
          p
            flex-grow: 1
            display: flex
            justify-content: space-between
            padding-left: .2rem
  &__right-column
    flex-basis: 14.79%
    display: flex
    flex-direction: column
    row-gap: .6rem
    &__activity
      display: flex
      justify-content: space-between
      align-items: center
      font-size: 1rem
      color: #707070
      font-weight: bold
      text-transform: uppercase
      span
        display: block
        background-color: $primary-color
        padding: .4rem
        border-radius: .5rem
    &__threads-container
      display: flex
      flex-direction: column
      box-shadow: 0 1px 1px 0 rgb(0,0,0,50%)
      &__thread
        width: 100%
        display: flex
        background-color: $primary-color
        font-size: 1.1rem
        cursor: pointer
        &:hover
          background-color: $secondary-color
        &__status
          width: .2rem
          background-color: red
        &__title
          flex-grow: 1
          color: $font-color-hover
          display: flex
          justify-content: space-between
          padding: .6rem
          span
            color: $font-color
    &__latest
      text-transform: uppercase
      font-size: 1rem
      font-weight: bold
      color: #707070
    &__demo-container
      display: flex
      flex-direction: column
      width: 100%
      background-color: #252f3a
      box-shadow: 0 1px 1px 0 rgb(0,0,0,50%)
      &__demo:last-of-type
        border-bottom: none
      &__demo
        display: flex
        justify-content: space-between
        align-items: center
        background-color: $primary-color
        font-size: 1.1rem
        padding: .6rem
        border-bottom: .1rem solid $secondary-color
        color: $font-color
        text-transform: uppercase
        cursor: pointer
        &:hover
          background-color: $secondary-color
        &__teams
          flex-grow: 1
          display: flex
          flex-direction: column
          row-gap: .6rem
          color: $font-color-hover
          text-transform: none
          &__team
            width: 100%
            display: flex
            &__img-container
              height: 1.3rem
              width: 1.8rem
              border: .1rem solid #000
              margin-right: .3rem