.main-nav
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  background-color: #2d3844
  height: 46px
  &__nav-container
    max-width: 975px
    height: 100%
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 1.4rem
    color: #929a9e
    &__ul
      display: flex
      align-items: center
      list-style: none
      height: 100%
      li
        display: flex
        justify-content: center
        align-items: center
        padding: 0 1.1rem
        border-left: 1px solid #495867
        height: 100%
      li:last-of-type
        border-right: 1px solid #495867
    &__search-container
      position: relative
      width: 17%
      display: flex
      align-items: center
      justify-content: space-between
      border: 1px solid #495867
      margin: 0 1rem
      // background-color: yellow
      input
        width: 100%
        align-self: stretch
        background-color: transparent
        border: none
        outline: none
        margin-left: .5rem
      svg
        font-size: 14px
        padding: .4rem
    &__sign-in
      border-left: .1rem solid gray
      border-right: .1rem solid gray
      padding: 0 1rem
      color: #87a3bf
      cursor: pointer
    &__nav-down
      padding: .5rem
      cursor: pointer
      svg